
body {
    font-family: amhara, "Arial";
    text-align: right;
}

li {

}

table {

}

.home-heading {
  text-align: center;
  font-size: 90px;
}

.media-title {
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 40px;
}

.modal-body form {
  text-align: justify;
  font-family: "Arial";
}

.modal-body input {
  font-style: Arial;
}

.spacing {
  padding-bottom: 15%;
}
